.calculator
{
    width: 400px;
    min-width: 350px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding: 10px 5px 50px 5px;
}

@media screen and (max-width: 420px) {
    .calculator
    {
        width: 100%;
        margin-top: 10px;
    }
    .button
    {
        width: 15%;
    }
}

.card
{
    border: none;
}

.top p
{
    width: 90%;
    margin: 5%;
    margin-top: 25px;
    height: auto;
    min-height: 125px;
    border: 2px solid #000;
    border-radius: 5px;
}

.ans
{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    margin-left: 5%;
    align-items:center;
    justify-content:center;
}

.ans span
{
    height: 40px;
    border: 1px solid #000;
    background-color: #c2c2c2;
    border-radius: 8px;
    vertical-align: middle;
    width: 90%;
}
.ansandback b
{
    margin-top: 5px;
    margin-right: 8px;
}

.bottom .allbtns
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 25%;
    margin: 0% 5%;
    margin-top: 10px;
    margin-bottom: 50px;
}

button
{
    width: 80px;
    height: 40px;
    background-color: green;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover
{
    transform: scale(1.1);
    border: 2px solid #000;
}

.blue
{
    background-color: rgb(78, 78, 163);
    color: #fff;
}

.orange
{
    background-color: orange;
    font-size: 19px;
}

.nodisplay
{
    background-color: white;

}

.nodisplay:hover
{
    background-color: white;
    border: none;
    cursor: auto;
}

.topnavigation
{
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.dispalyid
{
    margin-top: 25px;
}

.connectspan
{
    margin-top: 25px;
    margin-right: 20%;
}

.connectspan span
{
    padding: 8px 20px 8px 20px;
    background-color: rgb(56, 102, 186);
    color: #fff;
    vertical-align: middle;
    border-radius: 5px;
    cursor: pointer;
}

.connectinputbutton
{
    display: inline-flex;
}

.connectinputbutton input
{
    width: 250px;
    height: 38px;
}

.connectinputbutton span
{
    margin-top: 0px;
    color: #fff;
    background-color: rgb(67, 175, 67);
    padding: 8px 20px 8px 20px;
}

.connectinputbutton button:hover
{
    transform: scale(0);
}

@media screen and (max-width: 1500px) {
    .calculator
    {
        margin-top: 5px;
        margin-bottom: 0px;
        height: 85vh;
    }
}

/* @media screen and (max-width: 768px) {
    .connectspan
    {
        margin-right: 10%;
    }
}

@media screen and (max-width: 768px) {
    .connectspan
    {
        margin-right: 5%;
    }
} */