<div tabindex="-1">
    <div class="calculator">
        <div class="card">
            <div class="top">
                <p>
                    {{data}}
                </p>
            </div>
            <div class="bottom">
                <div class="ansandback">
                    <div  style="display: inline-flex;">
                        <b>ans = &nbsp;&nbsp;&nbsp;</b>
                        <span style="float: right;">{{ans}}</span>
                    </div>
                    <button class="orange">AC</button>
                </div>
                <div class="allbtns">
                    <div *ngFor="let data of allbuttons">
                        <button class={{data.class}} (click)="buttonClick(data.value.toString())" >{{data.value}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input autofocus type="text" #focusvalue [(ngModel)]="sample" style="width: 0px;height: 0px" (ngModelChange)="changeInput($event)">